---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects // TurtleCode" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Current Projects</div>
  </div>

  <HorizontalCard
    title="TrackTask"
    img="/post_img.webp"
    desc="A task-tracking platform built on Next.js, perfect for keeping lists and sharing them with teams. Currently in active development."
    url="https://github.com/turtlecode84/tracktask"
    badge="FEATURED"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="google-streetview-comb"
    img="/post_img.webp"
    desc="A niche tool for searching areas on Google Maps for street view panoramas taken on a certain date. Makes use of the Google Maps API."
    url="https://github.com/turtlecode84/google-streetview-comb"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="turtlecode.me"
    img="/post_img.webp"
    desc="A portfolio website about me and my awesome computing projects. It\'s what you're looking at right now! More details coming soon."
    url="https://github.com/turtlecode84/turtlecode.me"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Project: NAS"
    img="/post_img.webp"
    desc="A project starting soon with physical hardware, in which I\'ll get to setup a fully-functional NAS device and learn how to manage a network server."
    url="/blog"
    badge="COMING SOON"
    target="_self"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="???"
    img="/post_img.webp"
    desc="While I can\'t say much about this project yet, I will tell you that it exists and may be released to the public this year!"
    url="#"
    badge="COMING SOON"
    target="_self"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Past Projects</div>
  </div>

  <HorizontalCard
    title="TurtleCode Portfolio"
    img="/post_img.webp"
    desc="The first prototype of TrackTask and this portfolio combined, built on Django to display my projects and house an internal to-do list for school."
    url="#"
    target="_self"
  />
  <!--<div class="divider my-0"></div>
  <HorizontalCard
    title="Example Project"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />-->
</BaseLayout>
